.elementor-627 .elementor-element.elementor-element-3e57f60{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--background-transition:0.3s;--padding-top:80px;--padding-bottom:80px;--padding-left:0px;--padding-right:0px;}.elementor-627 .elementor-element.elementor-element-3e57f60:not(.elementor-motion-effects-element-type-background), .elementor-627 .elementor-element.elementor-element-3e57f60 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#1D75BD;}.elementor-627 .elementor-element.elementor-element-3e57f60, .elementor-627 .elementor-element.elementor-element-3e57f60::before{--border-transition:0.3s;}.elementor-627 .elementor-element.elementor-element-146ffe4{text-align:center;}.elementor-627 .elementor-element.elementor-element-146ffe4 .elementor-heading-title{color:#FFFFFF;font-family:"BeatriceTRIAL", Sans-serif;font-size:40px;font-weight:700;}.elementor-627 .elementor-element.elementor-element-07e979e{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--background-transition:0.3s;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:40px;--padding-bottom:40px;--padding-left:0px;--padding-right:0px;}.elementor-627 .elementor-element.elementor-element-c5a67c8{--display:flex;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--background-transition:0.3s;}.elementor-627 .elementor-element.elementor-element-e768eb0{--display:flex;--background-transition:0.3s;}.elementor-627 .elementor-element.elementor-element-5338abe .elementor-icon-wrapper{text-align:center;}.elementor-627 .elementor-element.elementor-element-5338abe .elementor-icon{font-size:84px;}.elementor-627 .elementor-element.elementor-element-5338abe .elementor-icon svg{height:84px;}.elementor-627 .elementor-element.elementor-element-33d340b{text-align:center;}.elementor-627 .elementor-element.elementor-element-33d340b .elementor-heading-title{color:#000000;font-family:"BeatriceDeckTRIAL", Sans-serif;font-size:16px;font-weight:600;}.elementor-627 .elementor-element.elementor-element-b50ea8f{text-align:center;color:#1C75BB;font-family:"BeatriceTRIAL", Sans-serif;font-weight:400;}.elementor-627 .elementor-element.elementor-element-4dadc31{--display:flex;--background-transition:0.3s;}.elementor-627 .elementor-element.elementor-element-d02bba1 .elementor-icon-wrapper{text-align:center;}.elementor-627 .elementor-element.elementor-element-d02bba1 .elementor-icon{font-size:84px;}.elementor-627 .elementor-element.elementor-element-d02bba1 .elementor-icon svg{height:84px;}.elementor-627 .elementor-element.elementor-element-3d2cc2c{text-align:center;}.elementor-627 .elementor-element.elementor-element-3d2cc2c .elementor-heading-title{color:#000000;font-family:"BeatriceDeckTRIAL", Sans-serif;font-size:16px;font-weight:600;}.elementor-627 .elementor-element.elementor-element-aa62064{text-align:center;color:#1C75BB;font-family:"BeatriceTRIAL", Sans-serif;font-weight:400;}.elementor-627 .elementor-element.elementor-element-f8c7900{--display:flex;--background-transition:0.3s;}.elementor-627 .elementor-element.elementor-element-b1da42e .elementor-icon-wrapper{text-align:center;}.elementor-627 .elementor-element.elementor-element-b1da42e .elementor-icon{font-size:84px;}.elementor-627 .elementor-element.elementor-element-b1da42e .elementor-icon svg{height:84px;}.elementor-627 .elementor-element.elementor-element-c3ec592{text-align:center;}.elementor-627 .elementor-element.elementor-element-c3ec592 .elementor-heading-title{color:#000000;font-family:"BeatriceDeckTRIAL", Sans-serif;font-size:16px;font-weight:600;}.elementor-627 .elementor-element.elementor-element-acae4cf{text-align:center;color:#1C75BB;font-family:"BeatriceTRIAL", Sans-serif;font-weight:400;}.elementor-627 .elementor-element.elementor-element-d977362{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--background-transition:0.3s;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:40px;--padding-bottom:40px;--padding-left:0px;--padding-right:0px;}.elementor-627 .elementor-element.elementor-element-d977362:not(.elementor-motion-effects-element-type-background), .elementor-627 .elementor-element.elementor-element-d977362 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#F7F7F5;}.elementor-627 .elementor-element.elementor-element-d977362, .elementor-627 .elementor-element.elementor-element-d977362::before{--border-transition:0.3s;}.elementor-627 .elementor-element.elementor-element-2cb0e3c{--display:flex;--align-items:center;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--background-transition:0.3s;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-627 .elementor-element.elementor-element-2c4eeb1{text-align:center;}.elementor-627 .elementor-element.elementor-element-2c4eeb1 .elementor-heading-title{color:#000000;font-family:"BeatriceDeckTRIAL", Sans-serif;font-size:25px;font-weight:600;}.elementor-627 .elementor-element.elementor-element-d1117f6{--divider-border-style:solid;--divider-color:#1C74BC;--divider-border-width:4px;}.elementor-627 .elementor-element.elementor-element-d1117f6 .elementor-divider-separator{width:20%;margin:0 auto;margin-center:0;}.elementor-627 .elementor-element.elementor-element-d1117f6 .elementor-divider{text-align:center;padding-block-start:0px;padding-block-end:0px;}.elementor-627 .elementor-element.elementor-element-c597b39{text-align:center;color:#636365;font-family:"BeatriceTRIAL", Sans-serif;font-size:16px;font-weight:400;}.elementor-627 .elementor-element.elementor-element-29da32d{--display:flex;--background-transition:0.3s;}.elementor-627 .elementor-element.elementor-element-3d309f8 .elementor-field-group{padding-right:calc( 14px/2 );padding-left:calc( 14px/2 );margin-bottom:40px;}.elementor-627 .elementor-element.elementor-element-3d309f8 .elementor-form-fields-wrapper{margin-left:calc( -14px/2 );margin-right:calc( -14px/2 );margin-bottom:-40px;}.elementor-627 .elementor-element.elementor-element-3d309f8 .elementor-field-group.recaptcha_v3-bottomleft, .elementor-627 .elementor-element.elementor-element-3d309f8 .elementor-field-group.recaptcha_v3-bottomright{margin-bottom:0;}body.rtl .elementor-627 .elementor-element.elementor-element-3d309f8 .elementor-labels-inline .elementor-field-group > label{padding-left:0px;}body:not(.rtl) .elementor-627 .elementor-element.elementor-element-3d309f8 .elementor-labels-inline .elementor-field-group > label{padding-right:0px;}body .elementor-627 .elementor-element.elementor-element-3d309f8 .elementor-labels-above .elementor-field-group > label{padding-bottom:0px;}.elementor-627 .elementor-element.elementor-element-3d309f8 .elementor-field-type-html{padding-bottom:0px;}.elementor-627 .elementor-element.elementor-element-3d309f8 .elementor-field-group .elementor-field{color:#000000;}.elementor-627 .elementor-element.elementor-element-3d309f8 .elementor-field-group .elementor-field, .elementor-627 .elementor-element.elementor-element-3d309f8 .elementor-field-subgroup label{font-family:"BeatriceTRIAL", Sans-serif;font-weight:400;}.elementor-627 .elementor-element.elementor-element-3d309f8 .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper){background-color:#FFFFFF00;border-color:#000000;border-width:0px 0px 1px 0px;border-radius:0px 0px 0px 0px;}.elementor-627 .elementor-element.elementor-element-3d309f8 .elementor-field-group .elementor-select-wrapper select{background-color:#FFFFFF00;border-color:#000000;border-width:0px 0px 1px 0px;border-radius:0px 0px 0px 0px;}.elementor-627 .elementor-element.elementor-element-3d309f8 .elementor-field-group .elementor-select-wrapper::before{color:#000000;}.elementor-627 .elementor-element.elementor-element-3d309f8 .elementor-button{font-family:"BeatriceDeckTRIAL", Sans-serif;font-size:16px;font-weight:500;border-radius:8px 8px 8px 8px;padding:15px 25px 15px 25px;}.elementor-627 .elementor-element.elementor-element-3d309f8 .e-form__buttons__wrapper__button-next{background-color:#1D75BD;color:#ffffff;}.elementor-627 .elementor-element.elementor-element-3d309f8 .elementor-button[type="submit"]{background-color:#1D75BD;color:#ffffff;}.elementor-627 .elementor-element.elementor-element-3d309f8 .elementor-button[type="submit"] svg *{fill:#ffffff;}.elementor-627 .elementor-element.elementor-element-3d309f8 .e-form__buttons__wrapper__button-previous{background-color:#1D75BD;color:#ffffff;}.elementor-627 .elementor-element.elementor-element-3d309f8 .e-form__buttons__wrapper__button-next:hover{color:#ffffff;}.elementor-627 .elementor-element.elementor-element-3d309f8 .elementor-button[type="submit"]:hover{color:#ffffff;}.elementor-627 .elementor-element.elementor-element-3d309f8 .elementor-button[type="submit"]:hover svg *{fill:#ffffff;}.elementor-627 .elementor-element.elementor-element-3d309f8 .e-form__buttons__wrapper__button-previous:hover{color:#ffffff;}.elementor-627 .elementor-element.elementor-element-3d309f8{--e-form-steps-indicators-spacing:20px;--e-form-steps-indicator-padding:30px;--e-form-steps-indicator-inactive-secondary-color:#ffffff;--e-form-steps-indicator-active-secondary-color:#ffffff;--e-form-steps-indicator-completed-secondary-color:#ffffff;--e-form-steps-divider-width:1px;--e-form-steps-divider-gap:10px;}@media(min-width:768px){.elementor-627 .elementor-element.elementor-element-29da32d{--width:70%;}}/* Start Custom Fonts CSS */@font-face {
	font-family: 'BeatriceTRIAL';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('https://redcraftmedia.net/ryder/wp-content/uploads/2024/05/BeatriceTRIAL-Semibold-BF64829e8a9fb34-1.ttf') format('truetype');
}
@font-face {
	font-family: 'BeatriceTRIAL';
	font-style: italic;
	font-weight: normal;
	font-display: auto;
	src: url('https://redcraftmedia.net/ryder/wp-content/uploads/2024/05/BeatriceTRIAL-BoldItalic-BF64829e8b4c698.ttf') format('truetype');
}
@font-face {
	font-family: 'BeatriceTRIAL';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('https://redcraftmedia.net/ryder/wp-content/uploads/2024/05/BeatriceTRIAL-Bold-BF64829e8b48b16.ttf') format('truetype');
}
@font-face {
	font-family: 'BeatriceTRIAL';
	font-style: italic;
	font-weight: normal;
	font-display: auto;
	src: url('https://redcraftmedia.net/ryder/wp-content/uploads/2024/05/BeatriceTRIAL-ThinItalic-BF64829e8d5d50c.ttf') format('truetype');
}
@font-face {
	font-family: 'BeatriceTRIAL';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('https://redcraftmedia.net/ryder/wp-content/uploads/2024/05/BeatriceTRIAL-Thin-BF64829e8b08524.ttf') format('truetype');
}
@font-face {
	font-family: 'BeatriceTRIAL';
	font-style: italic;
	font-weight: normal;
	font-display: auto;
	src: url('https://redcraftmedia.net/ryder/wp-content/uploads/2024/05/BeatriceTRIAL-SemiboldItalic-BF64829e8ed91f7.ttf') format('truetype');
}
@font-face {
	font-family: 'BeatriceTRIAL';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('https://redcraftmedia.net/ryder/wp-content/uploads/2024/05/BeatriceTRIAL-Semibold-BF64829e8f17d4c.ttf') format('truetype');
}
@font-face {
	font-family: 'BeatriceTRIAL';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('https://redcraftmedia.net/ryder/wp-content/uploads/2024/05/BeatriceTRIAL-Medium-BF64829e8ac35f2.ttf') format('truetype');
}
@font-face {
	font-family: 'BeatriceTRIAL';
	font-style: italic;
	font-weight: normal;
	font-display: auto;
	src: url('https://redcraftmedia.net/ryder/wp-content/uploads/2024/05/BeatriceTRIAL-MediumItalic-BF64829e8adc249.ttf') format('truetype');
}
@font-face {
	font-family: 'BeatriceTRIAL';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('https://redcraftmedia.net/ryder/wp-content/uploads/2024/05/BeatriceTRIAL-Regular-BF64829e8a62240.ttf') format('truetype');
}
@font-face {
	font-family: 'BeatriceTRIAL';
	font-style: italic;
	font-weight: normal;
	font-display: auto;
	src: url('https://redcraftmedia.net/ryder/wp-content/uploads/2024/05/BeatriceTRIAL-RegularItalic-BF64829e8a730a3.ttf') format('truetype');
}
@font-face {
	font-family: 'BeatriceTRIAL';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('https://redcraftmedia.net/ryder/wp-content/uploads/2024/05/BeatriceTRIAL-Thin-BF64829e89d34f8.ttf') format('truetype');
}
@font-face {
	font-family: 'BeatriceTRIAL';
	font-style: italic;
	font-weight: normal;
	font-display: auto;
	src: url('https://redcraftmedia.net/ryder/wp-content/uploads/2024/05/BeatriceTRIAL-ThinItalic-BF64829e8d22ad1.ttf') format('truetype');
}
@font-face {
	font-family: 'BeatriceTRIAL';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('https://redcraftmedia.net/ryder/wp-content/uploads/2024/05/BeatriceTRIAL-Light-BF64829e8b17e87.ttf') format('truetype');
}
/* End Custom Fonts CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'BeatriceDeckTRIAL';
	font-style: italic;
	font-weight: normal;
	font-display: auto;
	src: url('https://redcraftmedia.net/ryder/wp-content/uploads/2024/05/BeatriceDeckTRIAL-SemiboldItalic-BF64829e8e0e6b3.ttf') format('truetype');
}
@font-face {
	font-family: 'BeatriceDeckTRIAL';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('https://redcraftmedia.net/ryder/wp-content/uploads/2024/05/BeatriceDeckTRIAL-Semibold-BF64829e8dec396.ttf') format('truetype');
}
@font-face {
	font-family: 'BeatriceDeckTRIAL';
	font-style: italic;
	font-weight: normal;
	font-display: auto;
	src: url('https://redcraftmedia.net/ryder/wp-content/uploads/2024/05/BeatriceDeckTRIAL-ExtraboldItalic-BF64829e917393c-1.ttf') format('truetype');
}
@font-face {
	font-family: 'BeatriceDeckTRIAL';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: ;
}
@font-face {
	font-family: 'BeatriceDeckTRIAL';
	font-style: italic;
	font-weight: normal;
	font-display: auto;
	src: url('https://redcraftmedia.net/ryder/wp-content/uploads/2024/05/BeatriceDeckTRIAL-ThinItalic-BF64829e913b5ae.ttf') format('truetype');
}
@font-face {
	font-family: 'BeatriceDeckTRIAL';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('https://redcraftmedia.net/ryder/wp-content/uploads/2024/05/BeatriceDeckTRIAL-Thin-BF64829e8e21d70.ttf') format('truetype');
}
@font-face {
	font-family: 'BeatriceDeckTRIAL';
	font-style: italic;
	font-weight: normal;
	font-display: auto;
	src: url('https://redcraftmedia.net/ryder/wp-content/uploads/2024/05/BeatriceDeckTRIAL-RegularItalic-BF64829e917f76b.ttf') format('truetype');
}
@font-face {
	font-family: 'BeatriceDeckTRIAL';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('https://redcraftmedia.net/ryder/wp-content/uploads/2024/05/BeatriceDeckTRIAL-Regular-BF64829e8e41476.ttf') format('truetype');
}
@font-face {
	font-family: 'BeatriceDeckTRIAL';
	font-style: italic;
	font-weight: normal;
	font-display: auto;
	src: url('https://redcraftmedia.net/ryder/wp-content/uploads/2024/05/BeatriceDeckTRIAL-MediumItalic-BF64829e917eb6c.ttf') format('truetype');
}
@font-face {
	font-family: 'BeatriceDeckTRIAL';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('https://redcraftmedia.net/ryder/wp-content/uploads/2024/05/BeatriceDeckTRIAL-Medium-BF64829e8e8d71a.ttf') format('truetype');
}
@font-face {
	font-family: 'BeatriceDeckTRIAL';
	font-style: italic;
	font-weight: normal;
	font-display: auto;
	src: url('https://redcraftmedia.net/ryder/wp-content/uploads/2024/05/BeatriceDeckTRIAL-LightItalic-BF64829e8e77d46.ttf') format('truetype');
}
/* End Custom Fonts CSS */