.elementor-629 .elementor-element.elementor-element-e69ba1f{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--background-transition:0.3s;--padding-top:80px;--padding-bottom:80px;--padding-left:0px;--padding-right:0px;}.elementor-629 .elementor-element.elementor-element-e69ba1f:not(.elementor-motion-effects-element-type-background), .elementor-629 .elementor-element.elementor-element-e69ba1f > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#1D75BD;}.elementor-629 .elementor-element.elementor-element-e69ba1f, .elementor-629 .elementor-element.elementor-element-e69ba1f::before{--border-transition:0.3s;}.elementor-629 .elementor-element.elementor-element-78cb12d{text-align:center;}.elementor-629 .elementor-element.elementor-element-78cb12d .elementor-heading-title{color:#FFFFFF;font-family:"BeatriceTRIAL", Sans-serif;font-size:40px;font-weight:700;}.elementor-629 .elementor-element.elementor-element-c83ef94{--display:flex;--flex-direction:column;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--align-items:center;--background-transition:0.3s;--padding-top:40px;--padding-bottom:40px;--padding-left:0px;--padding-right:0px;}.elementor-629 .elementor-element.elementor-element-7e083fb{text-align:center;color:#6D6D6F;font-family:"BeatriceTRIAL", Sans-serif;font-size:16px;font-weight:400;}.elementor-629 .elementor-element.elementor-element-7e083fb > .elementor-widget-container{padding:0px 0px 20px 0px;}.elementor-629 .elementor-element.elementor-element-b20143d{text-align:center;color:#6D6D6F;font-family:"BeatriceTRIAL", Sans-serif;font-size:16px;font-weight:400;}.elementor-629 .elementor-element.elementor-element-b20143d > .elementor-widget-container{padding:0px 0px 20px 0px;}.elementor-629 .elementor-element.elementor-element-da0b0e5 .elementor-button{font-family:"BeatriceDeckTRIAL", Sans-serif;font-size:18px;font-weight:500;background-color:#1D75BD;border-radius:8px 8px 8px 8px;padding:15px 25px 15px 25px;}.elementor-629 .elementor-element.elementor-element-d22585f{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--background-transition:0.3s;--padding-top:40px;--padding-bottom:40px;--padding-left:0px;--padding-right:0px;}.elementor-629 .elementor-element.elementor-element-d22585f:not(.elementor-motion-effects-element-type-background), .elementor-629 .elementor-element.elementor-element-d22585f > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#F7F7F5;}.elementor-629 .elementor-element.elementor-element-d22585f, .elementor-629 .elementor-element.elementor-element-d22585f::before{--border-transition:0.3s;}.elementor-629 .elementor-element.elementor-element-135aa63{--display:flex;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--background-transition:0.3s;}.elementor-629 .elementor-element.elementor-element-68e9e8c{--display:flex;--background-transition:0.3s;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-629 .elementor-element.elementor-element-d078a3e{color:#000000;font-family:"BeatriceDeckTRIAL", Sans-serif;font-size:30px;font-weight:400;}.elementor-629 .elementor-element.elementor-element-d078a3e > .elementor-widget-container{padding:0px 0px 20px 0px;}.elementor-629 .elementor-element.elementor-element-3ef90ef{color:#6D6D6F;font-family:"BeatriceTRIAL", Sans-serif;font-size:16px;font-weight:400;}.elementor-629 .elementor-element.elementor-element-3ef90ef > .elementor-widget-container{padding:0px 0px 20px 0px;}.elementor-629 .elementor-element.elementor-element-174cb99{color:#6D6D6F;font-family:"BeatriceTRIAL", Sans-serif;font-size:16px;font-weight:400;}.elementor-629 .elementor-element.elementor-element-174cb99 > .elementor-widget-container{padding:0px 0px 20px 0px;}.elementor-629 .elementor-element.elementor-element-2bd1c30{color:#6D6D6F;font-family:"BeatriceTRIAL", Sans-serif;font-size:16px;font-weight:400;}.elementor-629 .elementor-element.elementor-element-2bd1c30 > .elementor-widget-container{padding:0px 0px 20px 0px;}.elementor-629 .elementor-element.elementor-element-7d235bd{color:#6D6D6F;font-family:"BeatriceTRIAL", Sans-serif;font-size:16px;font-weight:400;}.elementor-629 .elementor-element.elementor-element-7d235bd > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-629 .elementor-element.elementor-element-3ad1501{--display:flex;--justify-content:center;--background-transition:0.3s;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-629 .elementor-element.elementor-element-59f8fa5 > .elementor-widget-container{padding:0px 0px 20px 0px;}.elementor-629 .elementor-element.elementor-element-0812314{text-align:center;color:#6D6D6F;font-family:"BeatriceTRIAL", Sans-serif;font-size:16px;font-weight:400;}.elementor-629 .elementor-element.elementor-element-0812314 > .elementor-widget-container{padding:20px 0px 20px 0px;}.elementor-629 .elementor-element.elementor-element-427961e{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--background-transition:0.3s;}.elementor-629 .elementor-element.elementor-element-078213a{text-align:center;}.elementor-629 .elementor-element.elementor-element-078213a .elementor-heading-title{color:#000000;font-family:"BeatriceDeckTRIAL", Sans-serif;font-size:30px;font-weight:600;}.elementor-629 .elementor-element.elementor-element-078213a > .elementor-widget-container{padding:40px 0px 40px 0px;}.elementor-629 .elementor-element.elementor-element-5450a18{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--background-transition:0.3s;}.elementor-629 .elementor-element.elementor-element-be0e27a .elementor-swiper-button{font-size:20px;}.elementor-629 .elementor-element.elementor-element-be0e27a .swiper-pagination-bullet{height:10px;width:10px;}.elementor-629 .elementor-element.elementor-element-be0e27a .swiper-horizontal .swiper-pagination-progressbar{height:10px;}.elementor-629 .elementor-element.elementor-element-be0e27a .swiper-pagination-fraction{font-size:10px;}.elementor-629 .elementor-element.elementor-element-be0e27a .swiper-pagination-bullet:not(.swiper-pagination-bullet-active){background-color:#000000;opacity:1;}.elementor-629 .elementor-element.elementor-element-0c81126{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--background-transition:0.3s;}.elementor-629 .elementor-element.elementor-element-2fc5af5{text-align:center;}.elementor-629 .elementor-element.elementor-element-2fc5af5 .elementor-heading-title{color:#000000;font-family:"BeatriceDeckTRIAL", Sans-serif;font-size:30px;font-weight:600;}.elementor-629 .elementor-element.elementor-element-2fc5af5 > .elementor-widget-container{padding:40px 0px 40px 0px;}.elementor-629 .elementor-element.elementor-element-51bb5b9{--display:flex;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--background-transition:0.3s;}.elementor-629 .elementor-element.elementor-element-481fd7d{--display:flex;--justify-content:space-between;--background-transition:0.3s;}.elementor-629 .elementor-element.elementor-element-d5d1b5e{--display:flex;--background-transition:0.3s;}.elementor-629 .elementor-element.elementor-element-95425c4{text-align:center;color:#000000;font-family:"BeatriceDeckTRIAL", Sans-serif;font-size:16px;font-weight:600;}.elementor-629 .elementor-element.elementor-element-3aaa74e{--display:flex;--justify-content:space-between;--background-transition:0.3s;}.elementor-629 .elementor-element.elementor-element-f6b29f5{--display:flex;--background-transition:0.3s;}.elementor-629 .elementor-element.elementor-element-c134a10{text-align:center;color:#000000;font-family:"BeatriceDeckTRIAL", Sans-serif;font-size:16px;font-weight:600;}.elementor-629 .elementor-element.elementor-element-8d3cee0{--display:flex;--justify-content:space-between;--background-transition:0.3s;}.elementor-629 .elementor-element.elementor-element-f69520c{--display:flex;--background-transition:0.3s;}.elementor-629 .elementor-element.elementor-element-398171a{text-align:center;color:#000000;font-family:"BeatriceDeckTRIAL", Sans-serif;font-size:16px;font-weight:600;}.elementor-629 .elementor-element.elementor-element-e10ca67{--display:flex;--justify-content:space-between;--background-transition:0.3s;}.elementor-629 .elementor-element.elementor-element-8aa3bb0{--display:flex;--background-transition:0.3s;}.elementor-629 .elementor-element.elementor-element-a33c7ca{text-align:center;color:#000000;font-family:"BeatriceDeckTRIAL", Sans-serif;font-size:16px;font-weight:600;}.elementor-629 .elementor-element.elementor-element-1fc3425{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--background-transition:0.3s;--padding-top:40px;--padding-bottom:40px;--padding-left:0px;--padding-right:0px;}.elementor-629 .elementor-element.elementor-element-4f69c36{--display:flex;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--justify-content:center;--gap:0px 0px;--background-transition:0.3s;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-629 .elementor-element.elementor-element-5015f2f{--display:flex;--gap:0px 0px;--background-transition:0.3s;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-629 .elementor-element.elementor-element-027f046{text-align:right;}.elementor-629 .elementor-element.elementor-element-027f046 img{width:90%;}.elementor-629 .elementor-element.elementor-element-3188ce1{--display:flex;--justify-content:center;--gap:0px 0px;--background-transition:0.3s;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:50px;--padding-right:30px;}.elementor-629 .elementor-element.elementor-element-3188ce1:not(.elementor-motion-effects-element-type-background), .elementor-629 .elementor-element.elementor-element-3188ce1 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#1D75BD;}.elementor-629 .elementor-element.elementor-element-3188ce1, .elementor-629 .elementor-element.elementor-element-3188ce1::before{--border-transition:0.3s;}.elementor-629 .elementor-element.elementor-element-f890fad .elementor-heading-title{color:#FFFFFF;font-family:"BeatriceDeckTRIAL", Sans-serif;font-size:30px;font-weight:500;}.elementor-629 .elementor-element.elementor-element-f890fad > .elementor-widget-container{padding:0px 0px 10px 0px;}.elementor-629 .elementor-element.elementor-element-00236b3{color:#FFFFFF;font-family:"BeatriceDeckTRIAL", Sans-serif;font-size:18px;font-weight:400;}.elementor-629 .elementor-element.elementor-element-00236b3 > .elementor-widget-container{padding:0px 0px 10px 0px;}.elementor-629 .elementor-element.elementor-element-48c2e9b .elementor-button{font-family:"BeatriceDeckTRIAL", Sans-serif;font-size:16px;font-weight:500;fill:#000000;color:#000000;background-color:#FFFFFF;border-radius:8px 8px 8px 8px;padding:20px 25px 20px 25px;}@media(min-width:768px){.elementor-629 .elementor-element.elementor-element-5015f2f{--width:60%;}.elementor-629 .elementor-element.elementor-element-3188ce1{--width:45%;}}@media(max-width:1024px) and (min-width:768px){.elementor-629 .elementor-element.elementor-element-3188ce1{--width:60%;}}@media(max-width:1024px){.elementor-629 .elementor-element.elementor-element-c83ef94{--padding-top:40px;--padding-bottom:40px;--padding-left:20px;--padding-right:20px;}.elementor-629 .elementor-element.elementor-element-7e083fb{font-size:14px;}.elementor-629 .elementor-element.elementor-element-b20143d{font-size:14px;}.elementor-629 .elementor-element.elementor-element-d078a3e{font-size:25px;}.elementor-629 .elementor-element.elementor-element-3ef90ef{font-size:14px;}.elementor-629 .elementor-element.elementor-element-174cb99{font-size:14px;}.elementor-629 .elementor-element.elementor-element-2bd1c30{font-size:14px;}.elementor-629 .elementor-element.elementor-element-7d235bd{font-size:14px;}.elementor-629 .elementor-element.elementor-element-59f8fa5 img{width:100%;}.elementor-629 .elementor-element.elementor-element-73c0190 img{width:100%;}.elementor-629 .elementor-element.elementor-element-0812314{font-size:14px;}.elementor-629 .elementor-element.elementor-element-078213a .elementor-heading-title{font-size:25px;}.elementor-629 .elementor-element.elementor-element-2fc5af5 .elementor-heading-title{font-size:25px;}.elementor-629 .elementor-element.elementor-element-d5d1b5e{--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-629 .elementor-element.elementor-element-95425c4{font-size:14px;}.elementor-629 .elementor-element.elementor-element-f6b29f5{--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-629 .elementor-element.elementor-element-c134a10{font-size:14px;}.elementor-629 .elementor-element.elementor-element-398171a{font-size:14px;}.elementor-629 .elementor-element.elementor-element-a33c7ca{font-size:14px;}.elementor-629 .elementor-element.elementor-element-1fc3425{--padding-top:40px;--padding-bottom:40px;--padding-left:20px;--padding-right:20px;}.elementor-629 .elementor-element.elementor-element-5015f2f{--justify-content:center;}.elementor-629 .elementor-element.elementor-element-027f046 img{width:100%;}.elementor-629 .elementor-element.elementor-element-f890fad .elementor-heading-title{font-size:25px;}.elementor-629 .elementor-element.elementor-element-00236b3{font-size:14px;}}@media(max-width:767px){.elementor-629 .elementor-element.elementor-element-3188ce1{--padding-top:30px;--padding-bottom:30px;--padding-left:30px;--padding-right:30px;}}/* Start custom CSS for testimonial-carousel, class: .elementor-element-be0e27a */.elementor-widget-testimonial-carousel .swiper-slide {
    padding: 0 !important;
}/* End custom CSS */
/* Start custom CSS */.entry-content .wp-audio-shortcode, .entry-content .wp-embedded-audio, .entry-content .wp-embedded-video, .entry-content .wp-video, .entry-content p {
    margin-bottom: 0;
}/* End custom CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'BeatriceTRIAL';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('https://redcraftmedia.net/ryder/wp-content/uploads/2024/05/BeatriceTRIAL-Semibold-BF64829e8a9fb34-1.ttf') format('truetype');
}
@font-face {
	font-family: 'BeatriceTRIAL';
	font-style: italic;
	font-weight: normal;
	font-display: auto;
	src: url('https://redcraftmedia.net/ryder/wp-content/uploads/2024/05/BeatriceTRIAL-BoldItalic-BF64829e8b4c698.ttf') format('truetype');
}
@font-face {
	font-family: 'BeatriceTRIAL';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('https://redcraftmedia.net/ryder/wp-content/uploads/2024/05/BeatriceTRIAL-Bold-BF64829e8b48b16.ttf') format('truetype');
}
@font-face {
	font-family: 'BeatriceTRIAL';
	font-style: italic;
	font-weight: normal;
	font-display: auto;
	src: url('https://redcraftmedia.net/ryder/wp-content/uploads/2024/05/BeatriceTRIAL-ThinItalic-BF64829e8d5d50c.ttf') format('truetype');
}
@font-face {
	font-family: 'BeatriceTRIAL';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('https://redcraftmedia.net/ryder/wp-content/uploads/2024/05/BeatriceTRIAL-Thin-BF64829e8b08524.ttf') format('truetype');
}
@font-face {
	font-family: 'BeatriceTRIAL';
	font-style: italic;
	font-weight: normal;
	font-display: auto;
	src: url('https://redcraftmedia.net/ryder/wp-content/uploads/2024/05/BeatriceTRIAL-SemiboldItalic-BF64829e8ed91f7.ttf') format('truetype');
}
@font-face {
	font-family: 'BeatriceTRIAL';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('https://redcraftmedia.net/ryder/wp-content/uploads/2024/05/BeatriceTRIAL-Semibold-BF64829e8f17d4c.ttf') format('truetype');
}
@font-face {
	font-family: 'BeatriceTRIAL';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('https://redcraftmedia.net/ryder/wp-content/uploads/2024/05/BeatriceTRIAL-Medium-BF64829e8ac35f2.ttf') format('truetype');
}
@font-face {
	font-family: 'BeatriceTRIAL';
	font-style: italic;
	font-weight: normal;
	font-display: auto;
	src: url('https://redcraftmedia.net/ryder/wp-content/uploads/2024/05/BeatriceTRIAL-MediumItalic-BF64829e8adc249.ttf') format('truetype');
}
@font-face {
	font-family: 'BeatriceTRIAL';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('https://redcraftmedia.net/ryder/wp-content/uploads/2024/05/BeatriceTRIAL-Regular-BF64829e8a62240.ttf') format('truetype');
}
@font-face {
	font-family: 'BeatriceTRIAL';
	font-style: italic;
	font-weight: normal;
	font-display: auto;
	src: url('https://redcraftmedia.net/ryder/wp-content/uploads/2024/05/BeatriceTRIAL-RegularItalic-BF64829e8a730a3.ttf') format('truetype');
}
@font-face {
	font-family: 'BeatriceTRIAL';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('https://redcraftmedia.net/ryder/wp-content/uploads/2024/05/BeatriceTRIAL-Thin-BF64829e89d34f8.ttf') format('truetype');
}
@font-face {
	font-family: 'BeatriceTRIAL';
	font-style: italic;
	font-weight: normal;
	font-display: auto;
	src: url('https://redcraftmedia.net/ryder/wp-content/uploads/2024/05/BeatriceTRIAL-ThinItalic-BF64829e8d22ad1.ttf') format('truetype');
}
@font-face {
	font-family: 'BeatriceTRIAL';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('https://redcraftmedia.net/ryder/wp-content/uploads/2024/05/BeatriceTRIAL-Light-BF64829e8b17e87.ttf') format('truetype');
}
/* End Custom Fonts CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'BeatriceDeckTRIAL';
	font-style: italic;
	font-weight: normal;
	font-display: auto;
	src: url('https://redcraftmedia.net/ryder/wp-content/uploads/2024/05/BeatriceDeckTRIAL-SemiboldItalic-BF64829e8e0e6b3.ttf') format('truetype');
}
@font-face {
	font-family: 'BeatriceDeckTRIAL';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('https://redcraftmedia.net/ryder/wp-content/uploads/2024/05/BeatriceDeckTRIAL-Semibold-BF64829e8dec396.ttf') format('truetype');
}
@font-face {
	font-family: 'BeatriceDeckTRIAL';
	font-style: italic;
	font-weight: normal;
	font-display: auto;
	src: url('https://redcraftmedia.net/ryder/wp-content/uploads/2024/05/BeatriceDeckTRIAL-ExtraboldItalic-BF64829e917393c-1.ttf') format('truetype');
}
@font-face {
	font-family: 'BeatriceDeckTRIAL';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: ;
}
@font-face {
	font-family: 'BeatriceDeckTRIAL';
	font-style: italic;
	font-weight: normal;
	font-display: auto;
	src: url('https://redcraftmedia.net/ryder/wp-content/uploads/2024/05/BeatriceDeckTRIAL-ThinItalic-BF64829e913b5ae.ttf') format('truetype');
}
@font-face {
	font-family: 'BeatriceDeckTRIAL';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('https://redcraftmedia.net/ryder/wp-content/uploads/2024/05/BeatriceDeckTRIAL-Thin-BF64829e8e21d70.ttf') format('truetype');
}
@font-face {
	font-family: 'BeatriceDeckTRIAL';
	font-style: italic;
	font-weight: normal;
	font-display: auto;
	src: url('https://redcraftmedia.net/ryder/wp-content/uploads/2024/05/BeatriceDeckTRIAL-RegularItalic-BF64829e917f76b.ttf') format('truetype');
}
@font-face {
	font-family: 'BeatriceDeckTRIAL';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('https://redcraftmedia.net/ryder/wp-content/uploads/2024/05/BeatriceDeckTRIAL-Regular-BF64829e8e41476.ttf') format('truetype');
}
@font-face {
	font-family: 'BeatriceDeckTRIAL';
	font-style: italic;
	font-weight: normal;
	font-display: auto;
	src: url('https://redcraftmedia.net/ryder/wp-content/uploads/2024/05/BeatriceDeckTRIAL-MediumItalic-BF64829e917eb6c.ttf') format('truetype');
}
@font-face {
	font-family: 'BeatriceDeckTRIAL';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('https://redcraftmedia.net/ryder/wp-content/uploads/2024/05/BeatriceDeckTRIAL-Medium-BF64829e8e8d71a.ttf') format('truetype');
}
@font-face {
	font-family: 'BeatriceDeckTRIAL';
	font-style: italic;
	font-weight: normal;
	font-display: auto;
	src: url('https://redcraftmedia.net/ryder/wp-content/uploads/2024/05/BeatriceDeckTRIAL-LightItalic-BF64829e8e77d46.ttf') format('truetype');
}
/* End Custom Fonts CSS */