.elementor-832 .elementor-element.elementor-element-0427aa5{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--background-transition:0.3s;--padding-top:80px;--padding-bottom:80px;--padding-left:0px;--padding-right:0px;}.elementor-832 .elementor-element.elementor-element-0427aa5:not(.elementor-motion-effects-element-type-background), .elementor-832 .elementor-element.elementor-element-0427aa5 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#1D75BD;}.elementor-832 .elementor-element.elementor-element-0427aa5, .elementor-832 .elementor-element.elementor-element-0427aa5::before{--border-transition:0.3s;}.elementor-832 .elementor-element.elementor-element-8a58d0a{--display:flex;--background-transition:0.3s;}.elementor-832 .elementor-element.elementor-element-3488fa5{text-align:center;}.elementor-832 .elementor-element.elementor-element-3488fa5 .elementor-heading-title{color:#FFFFFF;font-family:"BeatriceTRIAL", Sans-serif;font-size:40px;font-weight:700;}.elementor-832 .elementor-element.elementor-element-eeff8b6{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--background-transition:0.3s;--padding-top:40px;--padding-bottom:40px;--padding-left:0px;--padding-right:0px;}.elementor-832 .elementor-element.elementor-element-e03665e{--display:flex;--align-items:center;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--background-transition:0.3s;box-shadow:5px 5px 3px 1px rgba(0, 0, 0, 0.17);}.elementor-832 .elementor-element.elementor-element-79d9453{--display:flex;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--background-transition:0.3s;--padding-top:30px;--padding-bottom:30px;--padding-left:0px;--padding-right:0px;}.elementor-832 .elementor-element.elementor-element-a56420e{--display:flex;--justify-content:center;--background-transition:0.3s;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-832 .elementor-element.elementor-element-eeba50b{--display:flex;--justify-content:center;--background-transition:0.3s;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-832 .elementor-element.elementor-element-28aa7b8{--display:flex;--justify-content:center;--background-transition:0.3s;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-832 .elementor-element.elementor-element-877e57b{--display:flex;--justify-content:center;--background-transition:0.3s;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-832 .elementor-element.elementor-element-1542f5b{--display:flex;--justify-content:center;--background-transition:0.3s;}.elementor-832 .elementor-element.elementor-element-06207ea{color:#767676;font-family:"BeatriceTRIAL", Sans-serif;font-size:16px;font-weight:400;}.elementor-832 .elementor-element.elementor-element-6d5d7bd{--display:flex;--background-transition:0.3s;border-style:solid;--border-style:solid;border-width:1px 0px 0px 0px;--border-top-width:1px;--border-right-width:0px;--border-bottom-width:0px;--border-left-width:0px;border-color:#000000;--border-color:#000000;--border-radius:0px 0px 0px 0px;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-832 .elementor-element.elementor-element-6d5d7bd, .elementor-832 .elementor-element.elementor-element-6d5d7bd::before{--border-transition:0.3s;}.elementor-832 .elementor-element.elementor-element-d9b16a5{--display:flex;--background-transition:0.3s;}.elementor-832 .elementor-element.elementor-element-dfb0fe6 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-832 .elementor-element.elementor-element-50e7796{--display:flex;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--background-transition:0.3s;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-832 .elementor-element.elementor-element-40c5258{--display:flex;--background-transition:0.3s;}.elementor-832 .elementor-element.elementor-element-f0d64d3{--display:flex;--background-transition:0.3s;}.elementor-832 .elementor-element.elementor-element-9e6ecf9 .elementor-heading-title{color:#000000;font-family:"BeatriceDeckTRIAL", Sans-serif;font-size:20px;font-weight:500;}.elementor-832 .elementor-element.elementor-element-f9fd5d3 .elementor-heading-title{color:#767676;font-family:"BeatriceTRIAL", Sans-serif;font-size:16px;font-weight:600;}.elementor-832 .elementor-element.elementor-element-350765c{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--background-transition:0.3s;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:40px;--padding-left:0px;--padding-right:0px;}.elementor-832 .elementor-element.elementor-element-350765c:not(.elementor-motion-effects-element-type-background), .elementor-832 .elementor-element.elementor-element-350765c > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#F7F7F5;}.elementor-832 .elementor-element.elementor-element-350765c, .elementor-832 .elementor-element.elementor-element-350765c::before{--border-transition:0.3s;}.elementor-832 .elementor-element.elementor-element-5fddcfd{--display:flex;--background-transition:0.3s;}.elementor-832 .elementor-element.elementor-element-4be57ac{text-align:center;}.elementor-832 .elementor-element.elementor-element-4be57ac .elementor-heading-title{color:#000000;font-family:"BeatriceTRIAL", Sans-serif;font-size:30px;font-weight:600;}.elementor-832 .elementor-element.elementor-element-4be57ac > .elementor-widget-container{padding:40px 0px 40px 0px;}.elementor-832 .elementor-element.elementor-element-dd17350{--grid-columns:3;}@media(min-width:768px){.elementor-832 .elementor-element.elementor-element-79d9453{--width:70%;}.elementor-832 .elementor-element.elementor-element-6d5d7bd{--width:80%;}.elementor-832 .elementor-element.elementor-element-50e7796{--width:100%;}.elementor-832 .elementor-element.elementor-element-40c5258{--width:20%;}.elementor-832 .elementor-element.elementor-element-f0d64d3{--width:80%;}}@media(max-width:1024px){.elementor-832 .elementor-element.elementor-element-dd17350{--grid-columns:2;}}@media(max-width:767px){.elementor-832 .elementor-element.elementor-element-dd17350{--grid-columns:1;}}/* Start custom CSS */ul {
    list-style: none;
}
ol, ul {
    margin: 0;
}
ul {
    display: flex;
}
li{
    padding-right: 10px;
}/* End custom CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'BeatriceTRIAL';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('https://redcraftmedia.net/ryder/wp-content/uploads/2024/05/BeatriceTRIAL-Semibold-BF64829e8a9fb34-1.ttf') format('truetype');
}
@font-face {
	font-family: 'BeatriceTRIAL';
	font-style: italic;
	font-weight: normal;
	font-display: auto;
	src: url('https://redcraftmedia.net/ryder/wp-content/uploads/2024/05/BeatriceTRIAL-BoldItalic-BF64829e8b4c698.ttf') format('truetype');
}
@font-face {
	font-family: 'BeatriceTRIAL';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('https://redcraftmedia.net/ryder/wp-content/uploads/2024/05/BeatriceTRIAL-Bold-BF64829e8b48b16.ttf') format('truetype');
}
@font-face {
	font-family: 'BeatriceTRIAL';
	font-style: italic;
	font-weight: normal;
	font-display: auto;
	src: url('https://redcraftmedia.net/ryder/wp-content/uploads/2024/05/BeatriceTRIAL-ThinItalic-BF64829e8d5d50c.ttf') format('truetype');
}
@font-face {
	font-family: 'BeatriceTRIAL';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('https://redcraftmedia.net/ryder/wp-content/uploads/2024/05/BeatriceTRIAL-Thin-BF64829e8b08524.ttf') format('truetype');
}
@font-face {
	font-family: 'BeatriceTRIAL';
	font-style: italic;
	font-weight: normal;
	font-display: auto;
	src: url('https://redcraftmedia.net/ryder/wp-content/uploads/2024/05/BeatriceTRIAL-SemiboldItalic-BF64829e8ed91f7.ttf') format('truetype');
}
@font-face {
	font-family: 'BeatriceTRIAL';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('https://redcraftmedia.net/ryder/wp-content/uploads/2024/05/BeatriceTRIAL-Semibold-BF64829e8f17d4c.ttf') format('truetype');
}
@font-face {
	font-family: 'BeatriceTRIAL';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('https://redcraftmedia.net/ryder/wp-content/uploads/2024/05/BeatriceTRIAL-Medium-BF64829e8ac35f2.ttf') format('truetype');
}
@font-face {
	font-family: 'BeatriceTRIAL';
	font-style: italic;
	font-weight: normal;
	font-display: auto;
	src: url('https://redcraftmedia.net/ryder/wp-content/uploads/2024/05/BeatriceTRIAL-MediumItalic-BF64829e8adc249.ttf') format('truetype');
}
@font-face {
	font-family: 'BeatriceTRIAL';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('https://redcraftmedia.net/ryder/wp-content/uploads/2024/05/BeatriceTRIAL-Regular-BF64829e8a62240.ttf') format('truetype');
}
@font-face {
	font-family: 'BeatriceTRIAL';
	font-style: italic;
	font-weight: normal;
	font-display: auto;
	src: url('https://redcraftmedia.net/ryder/wp-content/uploads/2024/05/BeatriceTRIAL-RegularItalic-BF64829e8a730a3.ttf') format('truetype');
}
@font-face {
	font-family: 'BeatriceTRIAL';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('https://redcraftmedia.net/ryder/wp-content/uploads/2024/05/BeatriceTRIAL-Thin-BF64829e89d34f8.ttf') format('truetype');
}
@font-face {
	font-family: 'BeatriceTRIAL';
	font-style: italic;
	font-weight: normal;
	font-display: auto;
	src: url('https://redcraftmedia.net/ryder/wp-content/uploads/2024/05/BeatriceTRIAL-ThinItalic-BF64829e8d22ad1.ttf') format('truetype');
}
@font-face {
	font-family: 'BeatriceTRIAL';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('https://redcraftmedia.net/ryder/wp-content/uploads/2024/05/BeatriceTRIAL-Light-BF64829e8b17e87.ttf') format('truetype');
}
/* End Custom Fonts CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'BeatriceDeckTRIAL';
	font-style: italic;
	font-weight: normal;
	font-display: auto;
	src: url('https://redcraftmedia.net/ryder/wp-content/uploads/2024/05/BeatriceDeckTRIAL-SemiboldItalic-BF64829e8e0e6b3.ttf') format('truetype');
}
@font-face {
	font-family: 'BeatriceDeckTRIAL';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('https://redcraftmedia.net/ryder/wp-content/uploads/2024/05/BeatriceDeckTRIAL-Semibold-BF64829e8dec396.ttf') format('truetype');
}
@font-face {
	font-family: 'BeatriceDeckTRIAL';
	font-style: italic;
	font-weight: normal;
	font-display: auto;
	src: url('https://redcraftmedia.net/ryder/wp-content/uploads/2024/05/BeatriceDeckTRIAL-ExtraboldItalic-BF64829e917393c-1.ttf') format('truetype');
}
@font-face {
	font-family: 'BeatriceDeckTRIAL';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: ;
}
@font-face {
	font-family: 'BeatriceDeckTRIAL';
	font-style: italic;
	font-weight: normal;
	font-display: auto;
	src: url('https://redcraftmedia.net/ryder/wp-content/uploads/2024/05/BeatriceDeckTRIAL-ThinItalic-BF64829e913b5ae.ttf') format('truetype');
}
@font-face {
	font-family: 'BeatriceDeckTRIAL';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('https://redcraftmedia.net/ryder/wp-content/uploads/2024/05/BeatriceDeckTRIAL-Thin-BF64829e8e21d70.ttf') format('truetype');
}
@font-face {
	font-family: 'BeatriceDeckTRIAL';
	font-style: italic;
	font-weight: normal;
	font-display: auto;
	src: url('https://redcraftmedia.net/ryder/wp-content/uploads/2024/05/BeatriceDeckTRIAL-RegularItalic-BF64829e917f76b.ttf') format('truetype');
}
@font-face {
	font-family: 'BeatriceDeckTRIAL';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('https://redcraftmedia.net/ryder/wp-content/uploads/2024/05/BeatriceDeckTRIAL-Regular-BF64829e8e41476.ttf') format('truetype');
}
@font-face {
	font-family: 'BeatriceDeckTRIAL';
	font-style: italic;
	font-weight: normal;
	font-display: auto;
	src: url('https://redcraftmedia.net/ryder/wp-content/uploads/2024/05/BeatriceDeckTRIAL-MediumItalic-BF64829e917eb6c.ttf') format('truetype');
}
@font-face {
	font-family: 'BeatriceDeckTRIAL';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('https://redcraftmedia.net/ryder/wp-content/uploads/2024/05/BeatriceDeckTRIAL-Medium-BF64829e8e8d71a.ttf') format('truetype');
}
@font-face {
	font-family: 'BeatriceDeckTRIAL';
	font-style: italic;
	font-weight: normal;
	font-display: auto;
	src: url('https://redcraftmedia.net/ryder/wp-content/uploads/2024/05/BeatriceDeckTRIAL-LightItalic-BF64829e8e77d46.ttf') format('truetype');
}
/* End Custom Fonts CSS */