.elementor-666 .elementor-element.elementor-element-474236c{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--background-transition:0.3s;--padding-top:80px;--padding-bottom:80px;--padding-left:0px;--padding-right:0px;}.elementor-666 .elementor-element.elementor-element-474236c:not(.elementor-motion-effects-element-type-background), .elementor-666 .elementor-element.elementor-element-474236c > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#1D75BD;}.elementor-666 .elementor-element.elementor-element-474236c, .elementor-666 .elementor-element.elementor-element-474236c::before{--border-transition:0.3s;}.elementor-666 .elementor-element.elementor-element-8bb1370{text-align:center;}.elementor-666 .elementor-element.elementor-element-8bb1370 .elementor-heading-title{color:#FFFFFF;font-family:"BeatriceTRIAL", Sans-serif;font-size:40px;font-weight:700;}.elementor-666 .elementor-element.elementor-element-26dd0c3{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--background-transition:0.3s;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:40px;--padding-bottom:30px;--padding-left:0px;--padding-right:0px;}.elementor-666 .elementor-element.elementor-element-f78111f{--display:flex;--background-transition:0.3s;}.elementor-666 .elementor-element.elementor-element-a461737 .elementor-search-form__container{min-height:50px;}.elementor-666 .elementor-element.elementor-element-a461737 .elementor-search-form__submit{min-width:50px;--e-search-form-submit-text-color:#000000;background-color:#54595F00;}body:not(.rtl) .elementor-666 .elementor-element.elementor-element-a461737 .elementor-search-form__icon{padding-left:calc(50px / 3);}body.rtl .elementor-666 .elementor-element.elementor-element-a461737 .elementor-search-form__icon{padding-right:calc(50px / 3);}.elementor-666 .elementor-element.elementor-element-a461737 .elementor-search-form__input, .elementor-666 .elementor-element.elementor-element-a461737.elementor-search-form--button-type-text .elementor-search-form__submit{padding-left:calc(50px / 3);padding-right:calc(50px / 3);}.elementor-666 .elementor-element.elementor-element-a461737 .elementor-search-form__input,
					.elementor-666 .elementor-element.elementor-element-a461737 .elementor-search-form__icon,
					.elementor-666 .elementor-element.elementor-element-a461737 .elementor-lightbox .dialog-lightbox-close-button,
					.elementor-666 .elementor-element.elementor-element-a461737 .elementor-lightbox .dialog-lightbox-close-button:hover,
					.elementor-666 .elementor-element.elementor-element-a461737.elementor-search-form--skin-full_screen input[type="search"].elementor-search-form__input{color:#7A7A7A;fill:#7A7A7A;}.elementor-666 .elementor-element.elementor-element-a461737:not(.elementor-search-form--skin-full_screen) .elementor-search-form__container{background-color:#02010100;border-color:#02010100;border-radius:3px;}.elementor-666 .elementor-element.elementor-element-a461737.elementor-search-form--skin-full_screen input[type="search"].elementor-search-form__input{background-color:#02010100;border-color:#02010100;border-radius:3px;}.elementor-666 .elementor-element.elementor-element-bd845b0{--display:flex;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--background-transition:0.3s;}.elementor-666 .elementor-element.elementor-element-e199b47{--display:flex;--background-transition:0.3s;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-666 .elementor-element.elementor-element-40b7c26 .premium-blog-thumb-effect-wrapper{flex-basis:50%;}.elementor-666 .elementor-element.elementor-element-40b7c26 .premium-blog-thumbnail-container img{object-fit:cover;}.elementor-666 .elementor-element.elementor-element-40b7c26 .premium-blog-post-outer-container{margin-bottom:0px;}.elementor-666 .elementor-element.elementor-element-40b7c26 .premium-blog-content-wrapper{text-align:left;background-color:#FFFFFF;}.elementor-666 .elementor-element.elementor-element-40b7c26 .premium-blog-entry-title, .elementor-666 .elementor-element.elementor-element-40b7c26 .premium-blog-entry-title a{font-family:"BeatriceDeckTRIAL", Sans-serif;font-size:30px;font-weight:600;text-decoration:none;}.elementor-666 .elementor-element.elementor-element-40b7c26 .premium-blog-entry-title a{color:#000000;}.elementor-666 .elementor-element.elementor-element-40b7c26 .premium-blog-entry-title:hover a{color:#000000;}.elementor-666 .elementor-element.elementor-element-40b7c26 .premium-blog-meta-data > *{color:#1D75BD;}.elementor-666 .elementor-element.elementor-element-40b7c26 .premium-blog-post-content{font-family:"BeatriceTRIAL", Sans-serif;font-size:16px;color:#000000;}.elementor-666 .elementor-element.elementor-element-40b7c26 .premium-blog-excerpt-link{font-family:"BeatriceTRIAL", Sans-serif;font-size:16px;text-decoration:none;color:#1D75BD;}.elementor-666 .elementor-element.elementor-element-40b7c26 .premium-blog-post-container{background-color:#FFFFFF;}.elementor-666 .elementor-element.elementor-element-e658810{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--background-transition:0.3s;--padding-top:40px;--padding-bottom:40px;--padding-left:0px;--padding-right:0px;}.elementor-666 .elementor-element.elementor-element-afc196b{--display:flex;--background-transition:0.3s;}.elementor-666 .elementor-element.elementor-element-88d2211{--grid-columns:3;}.elementor-666 .elementor-element.elementor-element-88d2211 .elementor-loop-container{grid-auto-rows:1fr;}.elementor-666 .elementor-element.elementor-element-88d2211 .e-loop-item > .elementor-section, .elementor-666 .elementor-element.elementor-element-88d2211 .e-loop-item > .elementor-section > .elementor-container, .elementor-666 .elementor-element.elementor-element-88d2211 .e-loop-item > .e-con, .elementor-666 .elementor-element.elementor-element-88d2211 .e-loop-item .elementor-section-wrap  > .e-con{height:100%;}.elementor-666 .elementor-element.elementor-element-88d2211 .elementor-pagination{text-align:center;}.elementor-666 .elementor-element.elementor-element-88d2211 .elementor-pagination .page-numbers:not(.dots){color:#000000;}.elementor-666 .elementor-element.elementor-element-88d2211 .elementor-pagination a.page-numbers:hover{color:#1D75BD;}.elementor-666 .elementor-element.elementor-element-88d2211 .elementor-pagination .page-numbers.current{color:#1D75BD;}body:not(.rtl) .elementor-666 .elementor-element.elementor-element-88d2211 .elementor-pagination .page-numbers:not(:first-child){margin-left:calc( 10px/2 );}body:not(.rtl) .elementor-666 .elementor-element.elementor-element-88d2211 .elementor-pagination .page-numbers:not(:last-child){margin-right:calc( 10px/2 );}body.rtl .elementor-666 .elementor-element.elementor-element-88d2211 .elementor-pagination .page-numbers:not(:first-child){margin-right:calc( 10px/2 );}body.rtl .elementor-666 .elementor-element.elementor-element-88d2211 .elementor-pagination .page-numbers:not(:last-child){margin-left:calc( 10px/2 );}@media(max-width:1024px){.elementor-666 .elementor-element.elementor-element-88d2211{--grid-columns:2;}}@media(max-width:767px){.elementor-666 .elementor-element.elementor-element-bd845b0{--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;}.elementor-666 .elementor-element.elementor-element-88d2211{--grid-columns:1;}}/* Start custom CSS */.premium-blog-post-container.premium-blog-skin-side {
    display: flex;
    flex-direction: row-reverse;
}
.entry-content ul, .entry-content ol {
    padding: revert;
    margin: revert;
    padding-left: 0;
}


@media screen and (max-width: 600px) {
.premium-blog-post-container.premium-blog-skin-side {
    display: flex;
    flex-direction: column;
}


}/* End custom CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'BeatriceTRIAL';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('https://redcraftmedia.net/ryder/wp-content/uploads/2024/05/BeatriceTRIAL-Semibold-BF64829e8a9fb34-1.ttf') format('truetype');
}
@font-face {
	font-family: 'BeatriceTRIAL';
	font-style: italic;
	font-weight: normal;
	font-display: auto;
	src: url('https://redcraftmedia.net/ryder/wp-content/uploads/2024/05/BeatriceTRIAL-BoldItalic-BF64829e8b4c698.ttf') format('truetype');
}
@font-face {
	font-family: 'BeatriceTRIAL';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('https://redcraftmedia.net/ryder/wp-content/uploads/2024/05/BeatriceTRIAL-Bold-BF64829e8b48b16.ttf') format('truetype');
}
@font-face {
	font-family: 'BeatriceTRIAL';
	font-style: italic;
	font-weight: normal;
	font-display: auto;
	src: url('https://redcraftmedia.net/ryder/wp-content/uploads/2024/05/BeatriceTRIAL-ThinItalic-BF64829e8d5d50c.ttf') format('truetype');
}
@font-face {
	font-family: 'BeatriceTRIAL';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('https://redcraftmedia.net/ryder/wp-content/uploads/2024/05/BeatriceTRIAL-Thin-BF64829e8b08524.ttf') format('truetype');
}
@font-face {
	font-family: 'BeatriceTRIAL';
	font-style: italic;
	font-weight: normal;
	font-display: auto;
	src: url('https://redcraftmedia.net/ryder/wp-content/uploads/2024/05/BeatriceTRIAL-SemiboldItalic-BF64829e8ed91f7.ttf') format('truetype');
}
@font-face {
	font-family: 'BeatriceTRIAL';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('https://redcraftmedia.net/ryder/wp-content/uploads/2024/05/BeatriceTRIAL-Semibold-BF64829e8f17d4c.ttf') format('truetype');
}
@font-face {
	font-family: 'BeatriceTRIAL';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('https://redcraftmedia.net/ryder/wp-content/uploads/2024/05/BeatriceTRIAL-Medium-BF64829e8ac35f2.ttf') format('truetype');
}
@font-face {
	font-family: 'BeatriceTRIAL';
	font-style: italic;
	font-weight: normal;
	font-display: auto;
	src: url('https://redcraftmedia.net/ryder/wp-content/uploads/2024/05/BeatriceTRIAL-MediumItalic-BF64829e8adc249.ttf') format('truetype');
}
@font-face {
	font-family: 'BeatriceTRIAL';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('https://redcraftmedia.net/ryder/wp-content/uploads/2024/05/BeatriceTRIAL-Regular-BF64829e8a62240.ttf') format('truetype');
}
@font-face {
	font-family: 'BeatriceTRIAL';
	font-style: italic;
	font-weight: normal;
	font-display: auto;
	src: url('https://redcraftmedia.net/ryder/wp-content/uploads/2024/05/BeatriceTRIAL-RegularItalic-BF64829e8a730a3.ttf') format('truetype');
}
@font-face {
	font-family: 'BeatriceTRIAL';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('https://redcraftmedia.net/ryder/wp-content/uploads/2024/05/BeatriceTRIAL-Thin-BF64829e89d34f8.ttf') format('truetype');
}
@font-face {
	font-family: 'BeatriceTRIAL';
	font-style: italic;
	font-weight: normal;
	font-display: auto;
	src: url('https://redcraftmedia.net/ryder/wp-content/uploads/2024/05/BeatriceTRIAL-ThinItalic-BF64829e8d22ad1.ttf') format('truetype');
}
@font-face {
	font-family: 'BeatriceTRIAL';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('https://redcraftmedia.net/ryder/wp-content/uploads/2024/05/BeatriceTRIAL-Light-BF64829e8b17e87.ttf') format('truetype');
}
/* End Custom Fonts CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'BeatriceDeckTRIAL';
	font-style: italic;
	font-weight: normal;
	font-display: auto;
	src: url('https://redcraftmedia.net/ryder/wp-content/uploads/2024/05/BeatriceDeckTRIAL-SemiboldItalic-BF64829e8e0e6b3.ttf') format('truetype');
}
@font-face {
	font-family: 'BeatriceDeckTRIAL';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('https://redcraftmedia.net/ryder/wp-content/uploads/2024/05/BeatriceDeckTRIAL-Semibold-BF64829e8dec396.ttf') format('truetype');
}
@font-face {
	font-family: 'BeatriceDeckTRIAL';
	font-style: italic;
	font-weight: normal;
	font-display: auto;
	src: url('https://redcraftmedia.net/ryder/wp-content/uploads/2024/05/BeatriceDeckTRIAL-ExtraboldItalic-BF64829e917393c-1.ttf') format('truetype');
}
@font-face {
	font-family: 'BeatriceDeckTRIAL';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: ;
}
@font-face {
	font-family: 'BeatriceDeckTRIAL';
	font-style: italic;
	font-weight: normal;
	font-display: auto;
	src: url('https://redcraftmedia.net/ryder/wp-content/uploads/2024/05/BeatriceDeckTRIAL-ThinItalic-BF64829e913b5ae.ttf') format('truetype');
}
@font-face {
	font-family: 'BeatriceDeckTRIAL';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('https://redcraftmedia.net/ryder/wp-content/uploads/2024/05/BeatriceDeckTRIAL-Thin-BF64829e8e21d70.ttf') format('truetype');
}
@font-face {
	font-family: 'BeatriceDeckTRIAL';
	font-style: italic;
	font-weight: normal;
	font-display: auto;
	src: url('https://redcraftmedia.net/ryder/wp-content/uploads/2024/05/BeatriceDeckTRIAL-RegularItalic-BF64829e917f76b.ttf') format('truetype');
}
@font-face {
	font-family: 'BeatriceDeckTRIAL';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('https://redcraftmedia.net/ryder/wp-content/uploads/2024/05/BeatriceDeckTRIAL-Regular-BF64829e8e41476.ttf') format('truetype');
}
@font-face {
	font-family: 'BeatriceDeckTRIAL';
	font-style: italic;
	font-weight: normal;
	font-display: auto;
	src: url('https://redcraftmedia.net/ryder/wp-content/uploads/2024/05/BeatriceDeckTRIAL-MediumItalic-BF64829e917eb6c.ttf') format('truetype');
}
@font-face {
	font-family: 'BeatriceDeckTRIAL';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('https://redcraftmedia.net/ryder/wp-content/uploads/2024/05/BeatriceDeckTRIAL-Medium-BF64829e8e8d71a.ttf') format('truetype');
}
@font-face {
	font-family: 'BeatriceDeckTRIAL';
	font-style: italic;
	font-weight: normal;
	font-display: auto;
	src: url('https://redcraftmedia.net/ryder/wp-content/uploads/2024/05/BeatriceDeckTRIAL-LightItalic-BF64829e8e77d46.ttf') format('truetype');
}
/* End Custom Fonts CSS */